{% extends 'base.html' %}

{% block content %}
<div class="start">
<div class="card text-bg-success mb-3" style="max-width: 45rem;">
    <div class="card-header">
        <h2>Submit Feedback for {{ skill_request.receiver.username }}</h2>
    </div>
    <div class="card-body">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Submit Feedback</button>
        </form>
    </div>
  </div>
</div>
{% endblock %}